<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>

<body>
    <style>
            body {
        background-image: url("{{ url_for('static', filename='images/update.jpg') }}");
        background-size: cover;
        background-attachment: fixed; 
        background-position: center;
        
    }
    </style>

    <h1>Update User</h1>
    <form action="{{ url_for('update_user', id=user.id) }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ user.name }}" required>
        <label for="points">Points:</label>
        <input type="number" id="points" name="points" value="{{ user.points }}" required>
        <input type="submit" value="Update User">
    </form>
    <a href="{{ url_for('index') }}">Back to User List</a>
</body>
</html>



